# наименование проекта (префикс для имен контейнеров)
COMPOSE_PROJECT_NAME=ontology-service

SPRING_PROFILES_ACTIVE=dev

APP_CONTAINER_NAME=ontology-service
APP_PORT=8001

POSTGRES_CONTAINER_NAME=ontology-db
POSTGRES_HOST=ontology-db
POSTGRES_DB=ontologies
POSTGRES_USER=auth
POSTGRES_PASSWORD=secret
POSTGRES_PORT=54321
INTERNAL_POSTGRES_PORT=5432

PGADMIN_CONTAINER_NAME=ontology-pg
PGADMIN_DEFAULT_EMAIL=test@te.st
PGADMIN_DEFAULT_PASSWORD=test
PGADMIN_PORT=8888

JWT_ISSUER_URI=http://auth-service:8000
JWT_AUDIENCE=ontology-service

# режим отладки
DEBUG=True
SPRING_LOGGING_LEVEL_ROOT=DEBUG