spring:

    config:
        import: optional:file:.env[.properties]
    
    profiles:
        active: ${SPRING_PROFILES_ACTIVE}

    application:
        name: ${COMPOSE_PROJECT_NAME}

    datasource:
        url: jdbc:postgresql://${POSTGRES_HOST}:${INTERNAL_POSTGRES_PORT}/${POSTGRES_DB}
        username: ${POSTGRES_USER}
        password: ${POSTGRES_PASSWORD}
        driver-class-name: org.postgresql.Driver

    jpa:
        database-platform: org.hibernate.dialect.PostgreSQLDialect
        defer-datasource-initialization: true
        hibernate:
            ddl-auto: none
        show-sql: false

    security:
        oauth2:
            resourceserver:
                jwt:
                    issuer-uri: ${JWT_ISSUER_URI}
    
    flyway:
        enabled: true
        locations: classpath:db/migration
        baseline-on-migrate: true
        validate-on-migrate: true
        user: ${POSTGRES_USER}
        password: ${POSTGRES_PASSWORD}
        url: jdbc:postgresql://${POSTGRES_HOST}:${INTERNAL_POSTGRES_PORT}/${POSTGRES_DB}

ontology:
    base:
        path: /data/ontologies
        IRI: http://www.semanticweb.org/user/ontologies/base-ontology
        taskIRI: ontology://tasks/
        ruleIRI: ontology://rules/
        ruleIDIRI: ontology://rules/#ruleID

logging:
  level:
    org.flywaydb: DEBUG

server:
    port: ${APP_PORT}